* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tektur', sans-serif;
    background-image: linear-gradient(to right bottom, #202020, #304255);
    height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator-wrapper {
    width: 400px;
    height: 600px;
    background: #202020;
    border-radius: 0.3em;
    border: 3px solid #00C896;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 5em;
}

.display {
    grid-column: 1 / 5;
    background: #304255;
    border-radius: 0.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 2rem;
    color: #C8FCEA;
}

.calc-button {
    width: 100%;
    height: 100%;
    color: #C8FCEA;
    border: 1px solid #C8FCEA;
    font-size: 2rem;
    border-radius: 0.3em;
    cursor: pointer;
    background: #304255;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.calc-button:hover {
    background: #518071;
}

.calc-button:active {
    background: #00C896;
}

@media screen and (max-width: 500px) {
    /* full screen calculator on mobile */

    .page-content {
        height: 100%;
    }

    .calculator-wrapper {
        width: 100%;
        height: 100%;
        margin-top: 0;
        border-radius: 0;
    }

    .display {
        font-size: 3rem;
        min-height: 105px
    }



}